{% extends 'layouts/base.html' %}
{% block content %}
<div>
<h1 class="display-4">What is LibreDashboard?</h1><br>
<h4 class="mb-1"><b>LibreDashboard</b> is a tool built for anyone interested in analyzing their data and do not really know about ML or coding in general. <br> 
I developed this tool as a hobby and for praticing my web development skills.<br>
Hope you guys like this project and please feel free to extend this to a more complex one! :)</h6>
</div>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}