{% extends 'layouts/base.html' %}
{% block content %}
<h1 class="display-1">LibreDashboard</h1>
<h3>1. Select a csv file!</h3>
<form method=post enctype=multipart/form-data>
    <input type=file class="custom-file-input" name=file><br>
    <button type="submit" class="btn btn-primary mb-2">Submit</button><br>
</form><br>

    <h3>2. Choose the columns you want to plot</h2>
    <form method=post enctype=multipart/form-data action="{{ url_for('home_bp.plot') }}">
    <div>
    <select  class="form-select" multiple aria-label="multiple select example" name="df" method="GET" action="/">
    {% for column in df.columns %}
            <option value="{{ column }}">{{ column }}</option>
        {% endfor %}
      </select>
    </div>
      <br><br><br><br><br>
      <div>
        <h3>3. Select your x axis:</h3>
      <select  class="form-select"  aria-label="multiple select example" name="x_axis" method="GET" action="/">
        {% for column in columns %}
                <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
          </select>
      <button type="submit" class="btn btn-primary mb-2" value="submit">Plot!</button>
    </div>
    </form><br><br>
  

{% endblock %}
{% block plot %}
{% endblock %}

